:root {
    --color-primary: #584a99;
    --color-secondary: #efe8f6;
    --color-light: #f7f7f7;
    --color-error: #f75e4b;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    max-width: 1400px;
    margin: auto;
}